* {
  font-family: "Jomhuria", cursive;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./assets/img/fondo-a.jpg);
}









/*SECCION DE INICIO - FLEXBOX APLICADO - MEDIAQUERRY APLICADO*/
.redes {
  color: #FAF1E4;
  display: flex;
  justify-content: end;
  font-size: 30px;
  margin: 15px;
}

.redes a {
  margin: 7px;
  color: #FAF1E4;
  text-decoration: none;
}

.titulos {
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-decoration: overline;
}

.titulos h2 {
  letter-spacing: 2px;
}

.imagen {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.imgalbum {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.albums {
  color: #FAF1E4;
  text-align: center;
  font-size: 120px;
  font-family: 'Jomhuria', cursive;
  text-decoration: none;
}

.timeline {
  color: #FAF1E4;
  text-align: center;
  font-size: 120px;
  font-family: 'Jomhuria', cursive;
  text-decoration: none;
}

.logo{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.circulo{
  height: 100px;
  width: 100px;
}









/*SECCION DE ALBUMS - FLEXBOX APLICADO - MEDIAQUERRY APLICADO*/
.titulo-albums{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-decoration: overline;
}

.container-class{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}

.cards{
  width: 200px;
  border: 1px black;
  color: #FAF1E4;
  margin: 10px;
}

.cards img{
  width: 100%;
}









/*SECCION DE TIMELINE - FLEXBOX APLICADO*/
.titulo-timeline{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-decoration: overline;
}

.intro{
  color: #FAF1E4;
  text-align: center;
  margin: 50px;
  font-size: 25px;
}









/*SECCION DE CONTACTO - GRID APLICADO - FLEXBOX APLICADO*/
.titulo-contacto{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-decoration: overline;
}

.contacto-integ{
  display: flex;
  justify-content: space-around;
  color: #FAF1E4;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
}

.contacto-integ > div {
  background-color: #000;
  padding: 20px;
  text-align: center;
}









/*SECCION DE GIRA CARBONO - FLEXBOX APLICADO*/
.titulo-carbono{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-decoration: overline;
}

.objetivo-cumplido{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  text-decoration: none
}

.p-gira{ 
  font-size: 40px;
}

.soda-stereotit{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  font-weight: bold;
}










/*PROPIEDADES PARA VOLVER AL INICIO DESDE EL TITULO - FLEXBOX APLICADO*/
.soda-home{
  color: #FAF1E4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 120px;
  text-decoration: none;
  font-weight: bold;
}














/*MEDIAQUERRY RESPONSIVE - SECCION INICIO*/
@media(max-width: 768px){
  body {
      font-size: 14px;
  }

  .imagen{
    flex-direction: column;
    align-items: center;
  }

  .redes a {
      display: block;
  }

  .titulos {
      text-align: center;
  }

  .imgalbum {
      max-width: 100%;
      height: auto;
  }

  .albums, .timeline {
      text-align: center;
  }

  .circulo {
      max-width: 50px;
      height: auto;
  }
}

.menu-icon {
  display: none;
  color: #FAF1E4;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
  }

  .redes {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .redes.active {
    display: flex;
  }
}














/*MEDIAQUERRY RESPONSIVE - SECCION ALBUMS*/
.menu-icon {
  display: none;
  align-items: center;
}

.container-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.cards img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
  }

  .redes.active {
    display: flex;
  }


}

@media (max-width: 480px) {
  .cards {
    margin: 10px;
  }
}







































